<%- include('../../pannel/partials/header.ejs') %>

            <div class="content d-flex flex-column justify-content-center h-100" style="background-image:url('/myfiche/img/home/creer.png')">
                <div class="container-fluid">
                    <div class="row h-100">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header ">
                                </div>
                                <div class="card-body text-center pb-5">
                                    <h2>Créez votre nouvelle fiche.</h2>
                                    <h5>Dites nous quel nom vous souhaitez lui donner, nous allons vous préparer l'éditeur.</h5>
                                    <h5>Ne vous inquiétez pas, le titre n'est pas définitif. Et la catégorie non plus.</h5>

                                    <!-- catId which is in action will be changed dynamically with JS-->
									<form class="py-2" action="/categories/<%=categories[0]._id%>/fiches/" method="POST" id="submitNewForm">

                                        <div class="form-group">
                                            <label>Titre</label>
                                            <input type="text" class="form-control text-center" placeholder="Nom" value="Ma nouvelle fiche" name="ficheTitle">
                                        </div>

                                        <div class="form-group d-flex flex-column align-items-center">
                                            <label>Catégorie</label>

                                            <select class="custom-select w-50" name="category" id="categorySelect">
                                            <% for (category of categories){ %>
                                                <option value="<%=category._id%>"><%=category.title%></option>
                                            <% } %>    
                                            </select>

                                            <small>Si tu ne trouve pas de catégorie appropriée, laisse la catégorie "Général" (et n'hésite pas à nous contacter pour qu'on puisse la créer !)</small>
                                        </div>

                                        <button type="submit" class="btn btn-success">Créer ma fiche !</button>
                                    </form>
                                    <small>En cliquant sur créer, votre fiche sera ajoutée à votre liste de fiches. Elle sera dans un premier temps invisible aux yeux des autres utilisateurs, jusqu'a ce que vous décidiez du contraire.</small>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>



 <%- include('../../pannel/partials/scripts.ejs') %>
 <script type="text/javascript" src="/myfiche_assets/js/plugins/newfiche.js"></script>

 <%- include('../../pannel/partials/footer.ejs') %>

